<%- include('partials/header') %>
<body>
  <div class="container">
    <div class="bg-light p-5 rounded-lg m-3">
      <h1 class="display-4">Moody</h1>
      <p class="lead">
        A simple app that provides statistical insight into your emotional well-being.
      </p>
      <hr class="my-4" />
      <p>This tool is based on the Burn's Depression Checklist.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/checklists" role="button">Get started</a>
      </p>
    </div>
  </div>
  <%- include('partials/footer') %>

