<%- include('partials/header') %>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Depression tracker</h1>
      <p class="lead">
        A simple app to give you statistical insight into your depression.
      </p>
      <hr class="my-4" />
      <p>This tool is based on the Burn's Depression Checklist.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/checklist" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <%- include('partials/footer') %>

